
.cards10{
    display: flex;
    margin: 40px auto 40px auto;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards10 .row3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 250px;
    justify-content: center;
    align-items: center;
}

.cards .row h3{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 900;
    color: #62B12F;
}

.cards .row p{
    text-align: center;
    color: rgb(41, 41, 41);
    font-size: 1rem;
    line-height: 22px;
}
